<div class="container">
	<%= form_with(model: product, local: true) do |form| %>
		<% if product.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
				<ul>
				<% product.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
		<% end %>         

		<div class="form-group">
			<div class="control-label">      
				<%= form.label :name %>
			</div>
			<div>
				<%= form.text_area :name, class: "form-control", placeholder: "name of bike", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label col-sm-2"> 
				<%= form.label :description %>
			</div>
			<div class=>
				<%= form.text_area :description, rows: 6, class: "form-control", placeholder: "Description" %>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label"> 
				<%= form.label :image_url %>
			</div>
			<div>
				<%= form.text_field :image_url, class: "form-control", placeholder: "URL", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label"> 
				<%= form.label :color %>
			</div>
			<div>
				<%= form.text_field :color, class: "form-control", placeholder: "color", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div class="control-label">
				<%= form.label :price %>
			</div>
			<div >
				<%= form.text_field :price, class: "form-control", placeholder: "price", autofocus: true %>
			</div>
		</div>
		<div class="form-group">
			<div>
				<%= form.submit class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>