<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bike Seattle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path %>
      </li>
      <li class="nav-item">
        <%= link_to "About", simple_pages_about_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Products", products_path %>
      </li>        
      <li class="nav-item">
        <%= link_to "Contact", simple_pages_contact_path %>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

<footer class="site-footer">
  &copy; <%= Date.today.year %> Bike Seattle
</footer>
    
</body>
    
</html>
